<div class="navbar bg-base-300">
  <.link navigate={~p"/"}> 
  <button class="btn btn-ghost text-xl">SMTP Analyzer</button>
  </.link>
</div>
<main>
  <div class="mx-auto">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
